@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*
font-family: "Poppins", system-ui;
*/

* {
    font-family: "Poppins", system-ui;
    font-size: 16px;
}

body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: auto;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}

main {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.459);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    margin: auto;
    padding: 15px;
    max-width: 1500px;
}

main h1 {
    font-size: 40px;
    text-decoration: underline #0038FF;
    text-underline-offset: 15px;
}

header {
    text-align: center;
    margin: 20px;
}

.highlight {
    background-color: #0038FF;
    color: white;
    padding: 10px;
    margin-bottom: 100px;
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.highlight-content {
    flex: 1; /* O conteúdo ocupa 1 parte do espaço disponível */
    padding: 20px; /* Adiciona espaçamento interno */
}

.highlight-image {
    flex: 1; /* A imagem ocupa 1 parte do espaço disponível */
    display: flex; /* Ativa o Flexbox novamente */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.highlight-image img {
    max-width: 80%; /* Limita a largura da imagem a 80% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
}

article {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 24px;
    align-items: center;
    display: flex;
}

.logo span {
    margin-left: 5px;
    transition: color 0.2s ease-in;
    cursor: pointer;
}

.logo span:hover {
    color: #0038FF;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: color 0.2s ease-in;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #0038FF;
    transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #0038FF;
}

#sobre {
    margin: 0px auto;
    margin-bottom: 100px;
    max-width: 600px;
}

#habilidades {
    margin: 0px auto;
    margin-bottom: 100px;
    max-width: 600px;
}

#experiencias {
    margin: 0px auto;
    margin-bottom: 100px;
    max-width: 600px;
}