@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: "Poppins", system-ui;
    font-size: 16px;
}

html, body {
    height: 100%; /* Garante que o HTML e o body ocupem 100% da altura */
    margin: 0; /* Remove margens padrão */
}

body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column; /* Permite que os filhos sejam empilhados verticalmente */
}

body::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}

/*---------------------------- Header ----------------------------*/
header {
    background-color: #ffffff;
    text-align: center;
    margin: 0; /* Remove margens para evitar espaço extra */
}

/*---------------------------- Highlights ----------------------------*/
.highlight {
    background-color: #000000;
    color: white;
    height: 100vh; /* Ocupa 100% da altura da tela */
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding: 10px; /* Adiciona espaçamento interno */
}

.highlight-content {
    flex: 1; /* O conteúdo ocupa 1 parte do espaço disponível */
    padding: 20px; /* Adiciona espaçamento interno */
    max-width: 800px;
}

.highlight-image {
    flex: 1; /* A imagem ocupa 1 parte do espaço disponível */
    display: flex; /* Ativa o Flexbox novamente */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.highlight-image img {
    max-width: 80%; /* Limita a largura da imagem a 80% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
}

.highlight h1 {
    font-size: 40px;
}

.highlight p {
    font-weight: 500;
    font-size: 20px;
}

/*---------------------------- Nav ----------------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adicione padding lateral */
}

/*---------------------------- Nome da página na nav ----------------------------*/
.logo h1 {
    font-size: 24px;
    align-items: center;
    display: flex;
}

.logo span {
    margin-left: 5px;
    transition: color 0.2s ease-in;
    cursor: pointer;
}

.logo span:hover {
    color: #059b44;
}

/*---------------------------- Link das navs ----------------------------*/
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: color 0.2s ease-in;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 0;
    background-color: #2eb065;
    transition: height 0.3s ease-in-out;
}

.nav-links a:hover::after {
    height: 3px; /* Aumenta a altura quando o hover acontece */
}

.nav-links a:hover {
    color: #2eb065;
}


/*---------------------------- Cards ----------------------------*/
.cards {
    height: 100vh; /* Ocupa 100% da altura da tela */
    padding: 20px;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; /* Faz com que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    color: white; /* Altera a cor do texto para branco para melhor contraste */
    display: flex; /* Para alinhar conteúdo verticalmente */
    flex-direction: column; /* Coloca os elementos em coluna */
    justify-content: center; /* Centraliza verticalmente */
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(255, 255, 255, 0.9); /* Cor de fundo do cartão com transparência */
    border: 1px solid #a1a1a1; /* Borda do cartão */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 20px;
    width: 200px; /* Largura do cartão */
    transition: transform 0.3s; /* Transição ao passar o mouse */
}

.card:hover {
    transform: scale(1.05); /* Aumenta levemente o cartão ao passar o mouse */
}

.cards h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 5px 0 200px;
}

.card h3 {
    margin: 0 0 10px; /* Margem do título */
}

.card a {
    text-decoration: none; /* Remove o sublinhado do link */
    color: #353535; /* Cor do texto do link */
}

.card p {
    font-size: 14px; /* Tamanho da fonte da descrição */
    color: #646464; /* Cor do texto da descrição */
}


/*---------------------------- pages ----------------------------*/

/*---------------------------- abilities ----------------------------*/
.abilities {
    background-color: #000000;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    padding: 20px; /* Adiciona espaçamento interno */
    height: 100%;
}

.abilities h1 {
    font-size: 40px;
}

.abilities p {
    font-size: 14px;
}

.skills-container {
    display: flex; /* Ativa o Flexbox para o contêiner de habilidades */
    justify-content: space-between; /* Coloca as habilidades nas extremidades */
    width: 100%; /* Faz o contêiner ocupar 100% da largura */
    max-width: 1200px; /* Limita a largura máxima para não esticar demais */
    margin-top: 20px; /* Espaço entre o título e as habilidades */
    text-align: center;
}

.skills-container h3 {
    margin: 5px;
    text-align: left;
}


.skills-container li {
    margin: 5px;
    text-align: left;
}

.skills-container p {
    margin: 5px;
    text-align: left;
}

.skills-left, .skills-right {
    background-color: #ffffff;
    color: #000000;
    width: 45%; /* Faz cada lado ocupar 45% da largura do contêiner */
    padding: 10px; /* Adiciona espaçamento interno */
    border-radius: 10px;
    
}

.skills-left h3, .skills-right h3 {
    margin-bottom: 10px; /* Espaço abaixo dos títulos das habilidades */
}

/*---------------------------- Experience ----------------------------*/
.experience {
    flex: 1;
    padding: 20px;
    background-color: #000000;
}

.experience-grid {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.experience-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: calc(33.33% - 40px);
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in, max-height 0.3s ease; /* Adicionei a transição para altura */
    cursor: pointer;
    position: relative;
    max-height: 69px; /* Limita a altura inicial */
    overflow: hidden; /* Esconde o conteúdo extra */
}

.experience-box:hover {
    transform: scale(1.05);
}

.hidden-content {
    display: none; /* O conteúdo permanece oculto até a classe active ser aplicada */
    margin-top: 10px;
}

.experience-box.active {
    max-height: 300px; /* Expande a altura da caixa quando a classe 'active' é adicionada */
}

.experience-box.active .hidden-content {
    display: block; /* Mostra o conteúdo quando a classe 'active' é aplicada */
}

.experience h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: white;
}

/*---------------------------- Footer ----------------------------*/
footer {
    margin-top: auto; /* Empurra o footer para o final da página */
    text-align: center;
    background-color: #000000;
    color: #059b44;
    padding: 5px;
}