@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*---------------------------- Global Styles ----------------------------*/
* {
    font-family: "Poppins", system-ui;
    font-size: 16px;
}

html, body {
    height: 100%; /* Garante que o HTML e o body ocupem 100% da altura */
    margin: 0; /* Remove margens padrão */
}

body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column; /* Permite que os filhos sejam empilhados verticalmente */
    overflow-y: scroll;
}

/* Oculta a barra de rolagem */
body::-webkit-scrollbar {
    display: none;
}

/*---------------------------- Header ----------------------------*/
header {
    background-color: #ffffff;
    text-align: center;
}

/*---------------------------- Navigation ----------------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adiciona padding lateral */
}

a {
    text-decoration: none;
    color: #000000;
}

a h1 {
    font-size: 24px;
    align-items: center;
    display: flex;
    margin-left: 5px;
    transition: color 0.2s ease-in;
    cursor: pointer;
}

a:hover {
    color: #059b44;
}

/*---------------------------- Navigation Links ----------------------------*/
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: color 0.2s ease-in;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 0;
    background-color: #2eb065;
    transition: height 0.3s ease-in-out;
}

.nav-links a:hover::after {
    height: 3px; /* Aumenta a altura quando o hover acontece */
}

.nav-links a:hover {
    color: #2eb065;
}

/*---------------------------- Highlights ----------------------------*/
.highlight {
    background-color: #000000;
    color: white;
    height: 105vh; /* Ocupa 100% da altura da tela */
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding: 10px; /* Adiciona espaçamento interno */
}

.highlight-content {
    flex: 1; /* O conteúdo ocupa 1 parte do espaço disponível */
    padding: 20px; /* Adiciona espaçamento interno */
    max-width: 800px;
}

.highlight-image {
    flex: 1; /* A imagem ocupa 1 parte do espaço disponível */
    display: flex; /* Ativa o Flexbox novamente */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.highlight-image img {
    max-width: 80%; /* Limita a largura da imagem a 80% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
}

.highlight h1 {
    font-size: 40px;
}

.highlight p {
    font-weight: 500;
    font-size: 20px;
}

/*---------------------------- Cards ----------------------------*/
.cards {
    min-height: 87vh; /* Garante que a seção ocupe no mínimo toda a altura da tela */
    padding: 20px;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Alinha os cards horizontalmente ao centro */
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px; /* Limita a largura total dos cards para não ocuparem toda a tela horizontalmente */
    margin: 0 auto; /* Centraliza o container de cards */
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #a1a1a1;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    margin: 50px; /* Espaçamento entre os cards */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.cards h2 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 50px;
    font-weight: bold;
}

.card h3 {
    margin: 0 0 10px;
}

.card a {
    text-decoration: none;
    color: #353535;
}

.card p {
    font-size: 14px;
    color: #646464;
}

/*---------------------------- Pages ----------------------------*/

/*---------------------------- Abilities ----------------------------*/
.abilities {
    background-color: #000000;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    padding: 20px; /* Adiciona espaçamento interno */
    height: 100%;
}

.abilities h1 {
    font-size: 40px;
}

.abilities p {
    font-size: 14px;
}

.skills-container {
    display: flex; /* Ativa o Flexbox para o contêiner de habilidades */
    justify-content: space-between; /* Coloca as habilidades nas extremidades */
    width: 100%; /* Faz o contêiner ocupar 100% da largura */
    max-width: 1200px; /* Limita a largura máxima para não esticar demais */
    margin-top: 20px; /* Espaço entre o título e as habilidades */
    text-align: center;
}

.skills-container h3,
.skills-container li,
.skills-container p {
    margin: 5px;
    text-align: left;
}

.skills-left, .skills-right {
    background-color: #ffffff;
    color: #000000;
    width: 45%; /* Faz cada lado ocupar 45% da largura do contêiner */
    padding: 10px; /* Adiciona espaçamento interno */
    border-radius: 10px; 
}

.skills-left h3, .skills-right h3 {
    margin-bottom: 10px; /* Espaço abaixo dos títulos das habilidades */
}

/*---------------------------- Experience ----------------------------*/
.experience {
    flex: 1;
    padding: 20px;
    background-color: #000000;
}

.experience-grid {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.experience-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: calc(33.33% - 40px);
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in, max-height 0.3s ease; /* Adicionei a transição para altura */
    cursor: pointer;
    position: relative;
    max-height: 69px; /* Limita a altura inicial */
    overflow: hidden; /* Esconde o conteúdo extra */
}

.experience-box:hover {
    transform: scale(1.05);
}

.hidden-content {
    display: none; /* O conteúdo permanece oculto até a classe active ser aplicada */
    margin-top: 10px;
}

.experience-box.active {
    max-height: 300px; /* Expande a altura da caixa quando a classe 'active' é adicionada */
}

.experience-box.active .hidden-content {
    display: block; /* Mostra o conteúdo quando a classe 'active' é aplicada */
}

.experience h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: white;
}

/*---------------------------- About ----------------------------*/
.about {
    background-color: #000000; /* Fundo preto para a seção */
    color: white; /* Texto branco para contraste */
    padding: 20px; /* Adiciona espaçamento interno */
}

.about h1 {
    font-size: 40px; /* Tamanho da fonte do título */
    text-align: center; /* Centraliza o título */
}

.about-content {
    width: 50%;
}

.text-about {
    height: 100vh; /* Ocupa 100% da altura da tela */
    display: flex; /* Ativa o Flexbox para centralizar o conteúdo */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    padding: 15px; /* Adiciona espaçamento interno */
}

.text-about p {
    text-align: left; /* Centraliza o texto do parágrafo */
}


/*---------------------------- Projects ----------------------------*/
.projects {
    background-color: #000000;
    color: white;
}

.projects h1 {
    font-size: 40px;
    padding: 10px;
    margin: 20px;
}

.projects-content h2 {
    padding-left: 10px;
    margin-left: 20px;
}

.projects-content p {
    padding-left: 10px;
    margin-left: 20px;
}

.projects-content a {
    padding-left: 10px;
}

.projects-content i {
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 7px;
}

/*---------------------------- Footer ----------------------------*/
footer {
    text-align: center;
    background-color: #000000;
    color: #059b44;
    padding: 5px;
    margin-top: auto; /* Faz o footer ficar na parte inferior da página */
}